<div [className]="taskVenc? 'taskv': 'task'"
    [ngClass]="{reminder : task.reminder}"
    (click)="onToggle(task)"
    >
    <h3>{{task.text}}
        <div>
        <fa-icon [icon]="faTimes"
        class="red"
        (click) = "onDelete(task)"
        ></fa-icon></div> </h3>
    <div class="parrafo">
        <p>{{task.day | date : 'medium'}}</p>
        <span *ngIf="taskVenc" class="roja">¡Vencida!</span>
        <span *ngIf="taskAlert" class="aviso">¡Vence pronto!</span>
    </div>

</div>
