.task{
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.taskv{
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    color: #b6b6b6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.task.reminder{
    border-left: 5px solid green;
}

.task h3, .taskv h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.red{
    color: red;
    cursor: pointer;
}

.svg-inline--fa.fa-w-16{
    color: #000666;
    height: 10px;
}

.parrafo{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.parrafo .roja{
    color: red;
    font-weight: 600;
}

.parrafo .aviso {
    color: #c1bb00;
    font-weight: 600;

    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
  
@-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
  
@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}